{% doc %}
  Displays modal with video player.

  @param {object} _media - The media block object containing video and heading settings
  @param {number} _index - The index used for modal targeting

  @example
  {% render 'carousel-modal-item', _media: block, _index: forloop.index %}
{% enddoc %}
<div class="modal" data-modal-container="{{ _index }}">
  <div class="modal-wrapper">
    <div class="modal-header">
      <p class="u-text-xl">{{- _media.settings.heading -}}</p>
      <button class="c-btn modal-close" type="button" aria-label="Close" data-modal-close="{{ _index }}">
        {%- render 'icon', _name: 'icon-close' -%}
      </button>
    </div>
    <div class="modal-content">
      {{- _media.settings.video | video_tag: controls: true -}}
    </div>
  </div>
</div>