{% doc %}
  Renders CTV section heading with optional margin control.

  @param {string} _heading - The small heading text above the title
  @param {string} _title - The main title text
  @param {string} [_text] - Optional body text content
  @param {string} [_text_class] - CSS class to apply to text paragraphs (e.g. 'u-text-xl')
  @param {boolean} [_margin_bottom] - Whether to include bottom margin (set to false to remove)

  @example
  {% render 'crafters-tv-heading', _heading: 'CTV', _title: 'Welcome', _text: '<p>Description</p>', _margin_bottom: true %}
{% enddoc %}
{%- if _margin_bottom == false -%}
  <style>
    div.snippet-crafters-tv-heading {
      margin-bottom: 0;
    }
  </style>
{%- endif -%}

<div class="snippet-crafters-tv-heading">
  <p class="u-text-xl heading">{{ _heading }}</p>
  <h1 class="u-heading-lg centre title">{{ _title }}</h1>
  {% if _text_class == 'u-text-xl' %}
    {{ _text | replace: '<p>', '<p class="u-text-xl">' }}
  {%- else -%}
    {{- _text -}}
  {%- endif -%}
</div>

{% stylesheet %}
.snippet-crafters-tv-heading {
  text-align: center;
  max-width: 38rem;
  margin: 0 auto 3rem;
}
.snippet-crafters-tv-heading .heading {
  margin-bottom: 1rem;
}
.snippet-crafters-tv-heading .u-text-xl {
  font-weight: 600;
}
.snippet-crafters-tv-heading p {
  margin-left: auto;
  margin-right: auto;
}
.snippet-crafters-tv-heading p:not(.heading) .snippet-crafters-tv-heading p:last-of-type {
  margin-bottom: 0;
}
{% endstylesheet %}
