{% doc %}
  Renders promotion blocks in grid or carousel.

  @param {array} _section_blocks - Array of section blocks containing promotion data

  @example
  {% render 'featured-promotions-blocks', _section_blocks: section.blocks %}
{% enddoc %}
{% liquid
  assign promotions_size = _section_blocks.size
  assign overflow_class = ''

  if promotions_size > 3
    assign overflow_class = 'add-overflow'
  endif
%}

{%- if promotions_size < 4 -%}
<div class="promotions _0{{- promotions_size }} {{ overflow_class }}">
  {%- for block in _section_blocks -%}
    {%-
      render 'promotion-item',
      _collection: block.settings.collection
      _product: block.settings.product
      _page: block.settings.page,
      _page_type: block.settings.page_type,
      _image: block.settings.image,
      _text: block.settings.text,
      _terms: block.settings.terms
    -%}
  {%- endfor -%}
</div>
{%- elsif promotions_size > 3 -%}
  <div class="container">
    <div class="swiper-container has-scrollbar {{ background_colour }}" data-sfp-slider>
      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            {%-
              render 'promotion-item',
              _collection: block.settings.collection
              _product: block.settings.product
              _page: block.settings.page,
              _page_type: block.settings.page_type,
              _image: block.settings.image,
              _text: block.settings.text,
              _terms: block.settings.terms
            -%}
          </div>
        {%- endfor -%}
      </div>
      <div class="swiper-scrollbar" data-sfp-slider-scrollbar></div>
    </div>
  </div>
{%- endif -%}

{% javascript %}
(()=>{"use strict";var e,i;e="section-featured-promotions",i={async onLoad(){this.loadSlider()},loadSlider(){window.theme.Swiper?this.initSlider():document.addEventListener("theme:inititialised",(()=>{this.initSlider()}),{once:!0})},initSlider(){this.container.querySelectorAll("[data-sfp-slider]").forEach((e=>{const i=e.querySelector("[data-sfp-slider-scrollbar]");new window.theme.Swiper(e,{slidesPerView:1.1,loop:!1,spaceBetween:16,slideToClickedSlide:!0,freeMode:{enabled:!0,sticky:!1,momentumBounce:!1},scrollbar:{el:i,draggable:!0},mousewheel:!0,breakpoints:{[theme.breakpoints.sm]:{slidesPerView:"auto"}}})}))}},Shopify.theme.sections&&Shopify.theme.sections.register?(0===Shopify.theme.sections.getInstances(e).length&&Shopify.theme.sections.register(e,i),Shopify.theme.sections.load(e)):function(e,i){var t={name:e,events:i};theme.sections.push(t)}(e,i)})();
{% endjavascript %}