{% doc %}
  Displays payment method icons.

  @example
  {% render 'payment-icons' %}
{% enddoc %}
<ul>
  {%- for type in shop.enabled_payment_types -%}
    <li>
      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
    </li>
  {%- endfor -%}
  <li>
    {%- render 'icon', _name: 'icon-clearpay' -%}
  </li>
</ul>