<div class="video-wrapper">
  <div class="plyr__video-embed" id="sts-player" hidden >
    <button class="c-btn is-svg pip-close-button" type="button" aria-label="Close" data-pip-close>
      {%- render 'icon', _name: 'icon-close' -%}
    </button>
    <iframe
      src="https://www.youtube.com/embed/{{ _article_video_id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
      allowfullscreen
      allowtransparency
      allow="autoplay"
    ></iframe>
  </div>
</div>