{% liquid
  assign template_name = 'section-article-recommendations'
  assign heading = section.settings.heading
  assign heading_alignment = section.settings.heading_alignment
%}

{%- if section.settings.enabled -%}
  {% comment %}
    This 'articles' array will be populated with article objects until the 'limit' is reached.
    The empty 'blog' variable will become an object, acheived by parsing the articles url.
  {% endcomment %}
  {%- liquid
    assign articles = '' | split: ''
    assign limit = section.settings.limit
    assign blog = blank
  -%}

  {% comment %}
    ‰
    Get the blog that the article belongs to.
  {% endcomment %}
  {%- liquid
    assign url_parts = article.url | remove_first: '/' | split: '/'
    if url_parts[0] == 'blogs'
      assign blog_handle = url_parts[1]
      assign blog = blogs[blog_handle]
    endif
  -%}

  {% comment %}
    Get articles that share a tag.
  {% endcomment %}
  {%- liquid
    if article.tags.size > 0
      for article_tag in article.tags
        if articles.size >= limit
          break
        endif

        paginate blog.articles by 100
          for blog_article in blog.articles
            if articles.size >= limit
              break
            endif

            if blog_article.id != article.id and blog_article.tags contains article_tag
              assign blog_article_arr = blog_article | sort
              assign articles = articles | concat: blog_article_arr | uniq
            endif
          endfor
        endpaginate
      endfor
    endif
  -%}

  {% comment %}
    Get articles from the same blog.
  {% endcomment %}
  {%- liquid
    if articles.size < limit
      for blog_article in blog.articles
        if articles.size >= limit
          break
        endif

        if blog_article.id != article.id
          assign blog_article_arr = blog_article | sort
          assign articles = articles | concat: blog_article_arr | uniq
        endif
      endfor
    endif
  -%}

  {{- 'snippet-article-item.css' | asset_url | stylesheet_tag -}}

  <div class="{{- template_name }} u-space-below-lg" data-section-type="{{- template_name -}}" data-section-id="{{ section.id }}">
    {%- unless edge_version == 'none' -%}
      {%-
        render 'paper-edge',
        _section: section
      -%}
    {%- endunless -%}
    {%- if articles.size > 0 -%}
      <div class="container">
        {%-
          render 'section-header',
          _heading: heading,
          _offset: true
        -%}
      </div>
      <div class="wrapper">
        {%- for article in articles limit: 3 -%}
          {%- render 'article-item', _article: article -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

{% stylesheet %}
.section-article-recommendations .wrapper {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
@media (min-width: 576px) {
  .section-article-recommendations .wrapper {
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 22.25rem;
    padding: 0 1rem 2rem;
  }
  .section-article-recommendations .wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  .section-article-recommendations .wrapper::-webkit-scrollbar-thumb {
    background: var(--colour-royal-purple);
    border: 8px solid var(--colour-royal-purple);
    border-radius: 0;
  }
  .section-article-recommendations .wrapper::-webkit-scrollbar-track {
    background: var(--colour-sugar-cane);
  }
}
{% endstylesheet %}

{% schema %}
{
  "name": {
    "de": "Artikelempfehlungen",
    "en": "Article Recommendations",
    "es": "Recomendaciones de Artículos",
    "fr": "Recommandations de Articles",
    "it": "Consigli sul Articolo",
    "ja": "記事の推奨事項",
    "pt-BR": "Recomendações de artigos"
  },
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable Article Recommendations?",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recommended Articles"
    },
    {
      "type": "select",
      "id": "edge_version",
      "label": "Edge version",
      "options": [
        {
          "value": "edge-01",
          "label": "One"
        },
        {
          "value": "edge-02",
          "label": "Two"
        },
        {
          "value": "edge-03",
          "label": "Three"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "edge-02"
    },
    {
      "type": "select",
      "id": "top_edge_colour",
      "label": "Top edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "bottom_edge_colour",
      "label": "Bottom edge colour",
      "options": [
        {
          "value": "green",
          "label": "Green"
        },
        {
          "value": "pink",
          "label": "Pink"
        },
        {
          "value": "purple",
          "label": "Purple"
        },
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "is-hidden",
          "label": "None"
        }
      ],
      "default": "white"
    },
    {
      "type": "select",
      "id": "background_colour",
      "label": "Background colour",
      "info": "This can only be applied if a edge version is selected",
      "options": [
        {
          "value": "black-squeeze",
          "label": "Green"
        },
        {
          "value": "pippin",
          "label": "Pink"
        },
        {
          "value": "whisper",
          "label": "Purple"
        }
      ],
      "default": "whisper"
    }
  ],
  "presets": [
    {
      "name": "Recommended Articles",
      "category": "Content"
    }
  ]
}
{% endschema %}
