.section-customer-register .swiper-container {
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translateY(-50%);
  z-index: 40;
  overflow: hidden;
  width: 100%;
  max-width: 32rem;
  color: var(--colour-white);
}
@media (max-width: 1023.98px) {
  .section-customer-register .swiper-container {
    display: none;
  }
}