.section-trust-points {
  background-color: rgba(115, 48, 137, 0.04);
  margin-bottom: var(--trust-points-margin);
}
@media (min-width: 768px) {
  .section-trust-points.swiper-grid .swiper-wrapper {
    justify-content: center;
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .section-trust-points.swiper-grid .swiper-wrapper {
    gap: 5rem;
  }
}
.section-trust-points .swiper-slide {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .section-trust-points .swiper-slide {
    height: 3.5rem;
  }
}
.section-trust-points .swiper-slide p {
  margin: 0;
}
@media (max-width: 1023.98px) {
  .section-trust-points .swiper-slide p {
    font-size: 0.75rem;
    line-height: 1.25;
  }
}
.section-trust-points .swiper-slide p strong {
  font-weight: 500;
}
.section-trust-points .swiper-slide img {
  height: 1.5rem;
  width: 1.5rem;
}