.section-latest-articles .snippet-section-header {
  margin-bottom: 2.5rem;
}
.section-latest-articles .articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 576px) {
  .section-latest-articles .articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .section-latest-articles .articles {
    grid-template-columns: repeat(3, 1fr);
  }
}