.section-crafters-tv-schedule .wrapper {
  padding: 3rem 0 4rem 0;
  position: relative;
  z-index: 1;
  color: var(--colour-sugar-cane);
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-crafters-tv-schedule .wrapper {
    padding: 4.5rem 0 7rem 0;
  }
}
.section-crafters-tv-schedule .wrapper:before {
  content: "";
  background: radial-gradient(circle, #90489c 0%, #4b3ab0 100%);
  position: absolute;
  inset: 0;
  height: calc(100% - 1px);
  width: 100%;
  z-index: 1;
}
.section-crafters-tv-schedule .wrapper::after {
  content: "";
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 456 618' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M17.425,276.477C-4.861,292.432 -4.86,325.568 17.425,341.524L392.553,610.1C419.023,629.052 455.838,610.132 455.838,577.577L455.838,40.423C455.838,7.868 419.023,-11.052 392.553,7.9L17.425,276.477Z' style='fill:rgb(31,19,0);fill-opacity:0.1;fill-rule:nonzero;'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 4% right -24vw;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
@media (min-width: 768px) {
  .section-crafters-tv-schedule .wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1087 1522' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.714 728.189c-22.285 15.956-22.285 49.091 0 65.047l1006.536 720.644c26.47 18.95 63.29.03 63.29-32.53v-1441.279c0-32.555-36.82-51.476-63.29-32.524z' fill='%231f1300' fill-opacity='.1' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: top -20rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-schedule .wrapper::after {
    background-position: top -28rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-schedule .wrapper::after {
    background-position: top -40rem right -32vw;
  }
}
@media (min-width: 1280px) {
  .section-crafters-tv-schedule .wrapper::after {
    background-position: top -44rem right -36vw;
  }
}
@media (min-width: 1600px) {
  .section-crafters-tv-schedule .wrapper::after {
    background-position: top -52rem right -40vw;
  }
}
.section-crafters-tv-schedule .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.section-crafters-tv-schedule .heading {
  text-align: center;
}
.section-crafters-tv-schedule .schedule-wrapper {
  width: 100%;
  max-width: 52rem;
}
.section-crafters-tv-schedule .swiper-container {
  position: relative;
  width: 100%;
  z-index: 30;
  padding: 0.25rem;
  border-radius: var(--border-radius-xl);
  background: rgba(253, 255, 252, 0.12);
  margin-bottom: 1.5rem;
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  .section-crafters-tv-schedule .swiper-container .swiper-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.section-crafters-tv-schedule .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 1024px) {
  .section-crafters-tv-schedule .swiper-container .swiper-wrapper .swiper-slide {
    width: auto;
  }
}
.section-crafters-tv-schedule .swiper-container .swiper-wrapper .swiper-slide button {
  border-radius: 2.5rem;
  border-radius: var(--border-radius-xl);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--colour-sugar-cane);
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
}
.section-crafters-tv-schedule .swiper-container .swiper-wrapper .swiper-slide button.is-active {
  border-color: var(--colour-sugar-cane);
  background: rgba(253, 255, 252, 0.12);
}
.section-crafters-tv-schedule .broadcasts {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.section-crafters-tv-schedule .broadcasts .broadcast {
  display: none;
  align-items: center;
  position: relative;
  gap: 1.5rem;
  padding: 1.5rem 0;
  max-width: 56.5rem;
  width: 100%;
  border-bottom: 1px solid var(--colour-sugar-cane);
  text-decoration: none;
  color: var(--colour-sugar-cane);
}
.section-crafters-tv-schedule .broadcasts .broadcast.is-active {
  display: flex;
}
.section-crafters-tv-schedule .broadcasts .broadcast img, .section-crafters-tv-schedule .broadcasts .broadcast svg {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}
.section-crafters-tv-schedule .broadcasts .broadcast .details {
  flex: 1;
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 768px) {
  .section-crafters-tv-schedule .broadcasts .broadcast .details {
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    gap: 0 2rem;
    align-items: baseline;
  }
}
.section-crafters-tv-schedule .broadcasts .broadcast .details .show-heading {
  flex: 1;
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.section-crafters-tv-schedule .broadcasts .broadcast .details .excerpt {
  margin-top: 0.5rem;
}
.section-crafters-tv-schedule .broadcasts .broadcast .details .showtime {
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .section-crafters-tv-schedule .broadcasts .broadcast .details .showtime {
    grid-column: 2;
    grid-row: 1;
  }
}
.section-crafters-tv-schedule .broadcasts .broadcast .details p {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .section-crafters-tv-schedule .broadcasts .broadcast .details p {
    margin-bottom: 0;
  }
}