.section-stmt-video {
  position: relative;
  margin-bottom: 4rem;
}
.section-stmt-video .container {
  display: flex;
  justify-content: center;
}
.section-stmt-video .container .wrapper {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .section-stmt-video .container .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .section-stmt-video .container .wrapper > div {
    flex-basis: 700px;
  }
}
.section-stmt-video .container .wrapper a.button {
  font-size: var(--font-size-m);
  display: block;
  max-width: 443px;
  margin: 0 0 1rem 0;
  border: none;
  padding: 21px 10px 18px 10px;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}
.section-stmt-video .container .wrapper a.button img {
  display: inline;
  vertical-align: middle;
  transform: translateY(-3px);
  width: 1rem;
  height: 1rem;
}
.section-stmt-video .container .wrapper video,
.section-stmt-video .container .wrapper iframe {
  aspect-ratio: 16/9;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (min-width: 1024px) {
  .section-stmt-video .container .wrapper video,
.section-stmt-video .container .wrapper iframe {
    border-radius: 20px;
  }
}
.section-stmt-video .container .wrapper iframe {
  border: none;
}

.section-video-section__content {
  max-width: 700px;
}

.section-stmt-video .section-video-section__content-subtitle {
  margin: 0 0 1rem 0;
  font-size: var(--font-size-s);
  font-weight: 400;
}

.section-video-section__content-title {
  margin: 0 0 1rem 0;
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

.section-video-section__content-description,
.section-video-section__content-description p,
.section-video-section__content-description.richtext-area {
  margin-bottom: 1rem;
  font-size: var(--font-size-l);
  font-weight: 300;
}

.section-video-section__content-description a {
  color: inherit;
}

.section-video-section__content-description > * {
  margin-bottom: 1rem;
}

.section-video-section__content-description > *:last-child {
  margin-bottom: 0;
}

.section-stmt-video__video-output > div {
  max-width: 710px;
}

@media (min-width: 990px) {
  .section-stmt-video .section-video-section__content-subtitle {
    font-size: var(--font-size-l);
  }

  .section-video-section__content-title {
    font-size: var(--font-size-xxxxl);
  }

  .section-video-section__content-description p {
    font-size: var(--font-size-xl);
  }

  .section-stmt-video .container .wrapper a.button {
    font-size: var(--font-size-xl);
  }

  .section-stmt-video .container .wrapper a.button img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .section-video-section__content-description,
.section-video-section__content-description p,
.section-video-section__content-description.richtext-area {
    margin-bottom: 2rem;
  }
}