.section-list-blocks {
  position: relative;
}
.section-list-blocks .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
@media (min-width: 576px) {
  .section-list-blocks .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .section-list-blocks .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.section-list-blocks .container .list-block {
  padding: 2rem;
  border: 1px solid var(--colour-emperor);
  border-radius: 1rem;
}
.section-list-blocks .container .list-block .list-title {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--colour-emperor);
  margin-bottom: 1.25rem;
}
.section-list-blocks .container .list-block ul {
  padding-left: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-list-blocks .container .list-block ul li {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}