.section-search header {
  margin-bottom: 2.5rem;
}
@media (min-width: 1024px) {
  .section-search header {
    margin-bottom: 4rem;
  }
}
@media (max-width: 1023.98px) {
  .section-search header {
    text-align: center;
  }
  .section-search header * {
    margin-right: auto;
    margin-left: auto;
  }
}
.section-search .wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 2.5rem;
}
@media (min-width: 1024px) {
  .section-search .wrapper {
    grid-template-columns: 1fr 3fr;
  }
}
@media (min-width: 1280px) {
  .section-search .wrapper {
    grid-template-columns: 1fr 4fr;
  }
}
.section-search .wrapper .filters-open {
  max-width: 20rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .section-search .wrapper .filters-open {
    display: none;
  }
}
.section-search .wrapper .search-content {
  padding-bottom: 2rem;
}
.section-search .wrapper .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .section-search .wrapper .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .section-search .wrapper .grid {
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.section-search .wrapper .grid > div {
  width: 100%;
}
.section-search .wrapper .grid .snippet-article-item .image {
  flex-grow: 1;
  aspect-ratio: unset;
  height: auto;
}
.section-search .wrapper .grid .snippet-article-item .image img {
  height: 100%;
}
.section-search .wrapper .grid .snippet-article-item a.title {
  font-size: 1rem;
  font-weight: 500;
}
.section-search .wrapper .grid .snippet-article-item time {
  flex-grow: 0;
}
.section-search .wrapper .pagination {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-search .wrapper .pagination.prev a {
  margin-bottom: 2.5rem;
}
@media (min-width: 1280px) {
  .section-search .wrapper .pagination.prev a {
    margin-bottom: 3rem;
  }
}
.section-search .filters-overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
@media (max-width: 1023.98px) {
  .section-search .filters-overlay.is-active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}