.section-brand-landing-header {
  position: relative;
}
.section-brand-landing-header::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 5;
}
.section-brand-landing-header .image {
  position: var(--image-position);
  inset: 0;
  height: var(--image-height);
  width: 100%;
  z-index: 1;
  display: block;
  object-fit: cover;
}
.section-brand-landing-header .container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 50;
  position: relative;
  color: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-brand-landing-header .container.has-breadcrumb {
  padding-top: 5.5rem !important;
}
.section-brand-landing-header .container .brand-logo {
  height: 2.5rem;
  width: 100%;
  max-width: 24rem;
  object-fit: contain;
}
@media (min-width: 768px) {
  .section-brand-landing-header .container .brand-logo {
    height: 3.5rem;
  }
}
@media (min-width: 768px) {
  .section-brand-landing-header .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .section-brand-landing-header .container {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }
}
.section-brand-landing-header .container .heading {
  display: block;
  margin-bottom: 2.5rem;
}
.section-brand-landing-header .container h1,
.section-brand-landing-header .container p {
  margin-left: auto;
  margin-right: auto;
}
.section-brand-landing-header .container p:last-of-type {
  margin-bottom: 0;
}
.section-brand-landing-header .actions {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.section-brand-landing-header .actions .tertiary {
  background-color: var(--colour-white) !important;
  color: var(--colour-emperor) !important;
}
.section-brand-landing-header .actions .quinary {
  background-color: var(--colour-emperor) !important;
  color: var(--colour-sugar-cane) !important;
}
.section-brand-landing-header .content {
  max-width: 80ch;
}
.section-brand-landing-header .content,
.section-brand-landing-header .content * {
  text-align: center !important;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}
.section-brand-landing-header .snippet-breadcrumb {
  color: inherit;
  position: absolute;
  top: 1.5rem;
  left: var(--gutter);
}
.section-brand-landing-header .content-ext {
  margin-top: 1.5rem;
}
.section-brand-landing-header [data-blh-toggle] {
  font-size: 0.875rem;
  text-decoration: underline;
  margin-top: 1.5rem;
}
.section-brand-landing-header [data-blh-toggle]:hover, .section-brand-landing-header [data-blh-toggle]:focus {
  text-decoration: underline;
}