.section-text-header {
  position: relative;
}
.section-text-header .container {
  display: flex;
  justify-content: center;
}
.section-text-header .container .wrapper {
  width: 100%;
  max-width: 50rem;
  text-align: var(--text-alignment);
}
.section-text-header .container .wrapper p:last-of-type {
  margin-bottom: 0;
}
.section-text-header .container .wrapper a {
  margin-top: 1.5rem;
}
.section-text-header .container .wrapper .heading, .section-text-header .container .wrapper p {
  margin-left: var(--text-margin);
  margin-right: var(--text-margin);
}