.section-quote-slider {
  position: relative;
}
.section-quote-slider .container {
  display: flex;
  justify-content: center;
}
.section-quote-slider .container .wrapper {
  max-width: 100%;
}
@media (min-width: 768px) {
  .section-quote-slider .container .wrapper {
    max-width: 512px;
  }
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide {
  background-color: var(--colour-white);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide svg {
  fill: var(--colour-whisper);
  height: 2.5rem;
  width: 2.5rem;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide p {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.section-quote-slider .swiper-container .swiper-wrapper .swiper-slide span.author-text {
  line-height: 1.5rem;
}
.section-quote-slider .swiper-container .swiper-pagination {
  margin-top: 2rem;
}