.section-slider picture, .section-slider picture img {
  width: 100%;
  display: block;
}
.section-slider .swiper-container {
  overflow: hidden;
  position: relative;
}
.section-slider .swiper-nav {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  z-index: 5;
  padding: 0 1rem;
  pointer-events: none;
}
.section-slider .swiper-nav button {
  pointer-events: auto;
}
.section-slider .play-pause {
  position: relative;
}
.section-slider .play-pause svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity var(--transition-duration) var(--transition-timing) 0s;
  height: 0.875rem;
  width: 0.875rem;
}
.section-slider .play-pause svg.play {
  opacity: 1;
}
.section-slider .play-pause svg.pause {
  opacity: 0;
}
.section-slider .play-pause.is-playing svg.play {
  opacity: 0;
}
.section-slider .play-pause.is-playing svg.pause {
  opacity: 1;
}