.section-customer-order .content .addresses dt, .section-customer-order .content .details dt {
  font-size: var(--font-size-base);
}
.section-customer-order .content .addresses, .section-customer-order .content .details {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .section-customer-order .content .addresses, .section-customer-order .content .details {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
.section-customer-order .content .details .c-table {
  grid-column: 1/span 2;
}
@media (min-width: 768px) {
  .section-customer-order .content .details .c-table {
    grid-column: 1/span 3;
  }
}
.section-customer-order .content td.product {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-customer-order .content td.product img, .section-customer-order .content td.product .placeholder-svg {
  height: 4rem;
  width: 4rem;
  object-fit: contain;
  border-radius: var(--border-radius-xs);
  border: 1px solid var(--colour-whisper);
  overflow: hidden;
  flex-shrink: 0;
}
@media (max-width: 1023.98px) {
  .section-customer-order .content td.product img, .section-customer-order .content td.product .placeholder-svg {
    display: none;
  }
}
.section-customer-order .content td.product a {
  text-decoration: none;
  font-weight: 500;
}
.section-customer-order .content td.quantity {
  text-align: center;
}