.section-product-content-points .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
}
.section-product-content-points .swiper-slide img {
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 100%;
  border: 1px solid var(--colour-emperor);
  object-fit: cover;
  display: block;
}
.section-product-content-points .swiper-slide h3 {
  margin-bottom: 0;
}
.section-product-content-points .swiper-pagination {
  margin-top: 2.5rem;
}