.instagram__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.instagram__header h2 {
  line-height: 1.2;
}

.instagram .c-btn {
  background-color: var(--colour-purple);
  color: #ffffff;
  width: 100%;
  justify-content: center;
}

@media (min-width: 768px) {
  .instagram__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .instagram .c-btn {
    width: auto;
  }
}