.section-crafters-tv-feature {
  position: relative;
  background: radial-gradient(95.56% 344.86% at 24.1% 33.77%, #90489c 0%, #4b3ab0 100%);
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: var(--colour-sugar-cane);
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.section-crafters-tv-feature::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='1088' height='1522' viewBox='0 0 1088 1522' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4265 728.477C-4.85938 744.432 -4.85942 777.568 17.4265 793.524L1023.96 1514.17C1050.43 1533.12 1087.25 1514.2 1087.25 1481.64L1087.25 40.3583C1087.25 7.80313 1050.43 -11.1171 1023.96 7.8346L17.4265 728.477Z' fill='%231F1300'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  z-index: 20;
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background-position: top 5rem right -2rem;
  background-size: 90%;
}
@media (min-width: 768px) {
  .section-crafters-tv-feature::before {
    background-size: 80%;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature::before {
    background-position: right center;
  }
}
.section-crafters-tv-feature .container {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .container {
    gap: 4rem;
  }
}
.section-crafters-tv-feature .wrapper {
  display: grid;
  gap: 2.5rem;
  grid-template-areas: "image" "content";
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-crafters-tv-feature .wrapper {
    padding: 0 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .wrapper {
    grid-template-columns: 1fr 50%;
    grid-template-areas: "content image";
    gap: 3rem;
  }
}
@media (min-width: 1280px) {
  .section-crafters-tv-feature .wrapper {
    gap: 6vw;
  }
}
.section-crafters-tv-feature .wrapper .content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content {
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-crafters-tv-feature .wrapper .content {
    max-width: 72vw;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature .wrapper .content {
    padding-top: 2rem;
  }
}
@media (min-width: 1600px) {
  .section-crafters-tv-feature .wrapper .content {
    padding-top: 3.5rem;
  }
}
.section-crafters-tv-feature .wrapper .content .crafters-tv-logo {
  height: 4.5rem;
  width: auto;
  object-fit: contain;
  object-position: left center;
  display: block;
  margin-bottom: 2.5rem;
}
.section-crafters-tv-feature .wrapper .content .actions {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  justify-items: start;
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content .actions a {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .section-crafters-tv-feature .wrapper .content .actions a .arrow {
    display: none;
  }
}
.section-crafters-tv-feature .wrapper .image {
  grid-area: image;
}
.section-crafters-tv-feature .wrapper .image img {
  height: auto;
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}
.section-crafters-tv-feature hr {
  border: 0;
  background-color: var(--colour-sugar-cane);
  height: 1px;
  opacity: 0.24;
}
@media (min-width: 1024px) {
  .section-crafters-tv-feature hr {
    display: none;
  }
}