@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-form-embed .container {
    max-width: var(--content-tablet-width);
  }
}
@media (min-width: 1024px) {
  .section-form-embed .container {
    max-width: var(--rte-max-width);
  }
}

#wrapper .section-form-embed {
  --form-gap: 1.5rem;
}
#wrapper .section-form-embed form.klaviyo-form > div:first-of-type {
  justify-content: flex-start !important;
  gap: var(--form-gap);
}
#wrapper .section-form-embed form.klaviyo-form * {
  font-family: var(--font-family-body) !important;
}
#wrapper .section-form-embed form.klaviyo-form [data-testid=form-row] {
  flex-wrap: wrap;
  gap: var(--form-gap);
}
#wrapper .section-form-embed form.klaviyo-form [data-testid=form-row] > div {
  padding: 0 !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select) {
  padding: 1rem 0.5rem !important;
  border: 1px solid var(--colour-whisper) !important;
  width: 100% !important;
  max-width: var(--max-width) !important;
  font-size: 0.875rem !important;
  height: auto !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select).placeholder {
  color: var(--placeholder-colour) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select):-moz-placeholder {
  color: var(--placeholder-colour) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select)::-moz-placeholder {
  color: var(--placeholder-colour) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select):-ms-input-placeholder {
  color: var(--placeholder-colour) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is([type="text"], [type="number"], [type="search"], [type="email"], [type="password"], [type="tel"], select)::-webkit-input-placeholder {
  color: var(--placeholder-colour) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is(textarea) {
  background-color: var(--colour-white) !important;
  border: 1px solid var(--colour-whisper) !important;
  padding: 0.75rem 0.5rem !important;
  min-height: 8rem !important;
  max-height: 25rem !important;
  width: 100% !important;
  min-width: 18rem !important;
  max-width: var(--max-width) !important;
}
#wrapper .section-form-embed form.klaviyo-form input:is(select) {
  padding-right: 3rem !important;
  text-overflow: ellipsis !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 447 243' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,-1,-0.94975,377.06)'%3E%3Cpath d='M4.465,366.475L11.535,373.546C16.221,378.232 23.819,378.232 28.506,373.546L224,178.053L419.494,373.546C424.18,378.232 431.778,378.232 436.465,373.546L443.535,366.475C448.221,361.789 448.221,354.191 443.535,349.505L232.485,138.454C227.799,133.768 220.201,133.768 215.514,138.454L4.465,349.505C-0.222,354.191 -0.222,361.789 4.465,366.475Z' style='fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
  background-position: center right 1rem !important;
  background-repeat: no-repeat !important;
  background-size: 0.75rem !important;
  align-self: flex-start !important;
  max-width: var(--max-width) !important;
  width: auto !important;
}
#wrapper .section-form-embed form.klaviyo-form input:focus {
  border: 1px solid var(--colour-emperor) !important;
  border-radius: var(--border-radius-xs) !important;
}
#wrapper .section-form-embed form.klaviyo-form button {
  border-radius: var(--border-radius-xl) !important;
  height: 3rem !important;
  padding: 0 2rem !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  align-items: center !important;
  background-color: transparent !important;
  transform: none !important;
  transition: all var(--transition-duration) var(--transition-timing) !important;
  border: 1px solid var(--colour-sugar-cane) !important;
  background-color: var(--colour-emperor) !important;
  color: var(--colour-sugar-cane) !important;
  width: auto !important;
}
#wrapper .section-form-embed form.klaviyo-form button:hover, #wrapper .section-form-embed form.klaviyo-form button:focus {
  transform: scale(1.1) !important;
}