.section-image-feature {
  position: relative;
  display: grid;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  grid-template-rows: auto 2rem auto;
}
@media (min-width: 768px) {
  .section-image-feature {
    grid-template-rows: auto 4rem auto;
  }
}
@media (min-width: 1024px) {
  .section-image-feature {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 5rem;
  }
}
.section-image-feature .image {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
  width: 100%;
  height: 24rem;
}
@media (min-width: 768px) {
  .section-image-feature .image {
    height: 32rem;
  }
}
@media (min-width: 1024px) {
  .section-image-feature .image {
    height: 90%;
  }
}
.section-image-feature .image picture, .section-image-feature .image img {
  height: 100%;
}
.section-image-feature .image img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.section-image-feature .container {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  position: relative;
  z-index: 40;
}
@media (max-width: 1023.98px) {
  .section-image-feature .container {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .section-image-feature .container {
    max-width: var(--content-tablet-width);
  }
}
@media (min-width: 1024px) {
  .section-image-feature .container {
    grid-column: var(--content-alignment);
    display: flex;
    align-items: flex-end;
  }
}
.section-image-feature .content {
  background-color: var(--colour-white);
  border: 1px solid var(--colour-emperor);
  border-radius: var(--border-radius-xl);
  padding: 1.5rem;
}
@media (max-width: 767.98px) {
  .section-image-feature .content {
    text-align: center;
  }
}
@media (min-width: 1280px) {
  .section-image-feature .content {
    min-width: 28rem;
    max-width: 38rem;
    margin-right: 6rem;
  }
}