.section-password {
  padding: 4rem 0;
}
.section-password .wrapper {
  display: grid;
  grid-template-columns: 100%;
}
@media (min-width: 768px) {
  .section-password .wrapper {
    grid-template-columns: 1fr 3fr 1fr;
  }
}
@media (min-width: 768px) {
  .section-password .wrapper > * {
    grid-column: 2;
  }
}
.section-password .header {
  display: flex;
  margin-bottom: 4rem;
}
.section-password .header .logo {
  height: auto;
  max-width: 8rem;
  object-fit: contain;
}
.section-password .content .c-form {
  margin-bottom: 4rem;
}