.section-customer-addresses .content {
  gap: 0;
}
.section-customer-addresses .main-address:not(:first-of-type) {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid var(--colour-whisper);
}
.section-customer-addresses .actions {
  margin-top: 1.5rem;
}
.section-customer-addresses .actions,
.section-customer-addresses .form-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
.section-customer-addresses [data-address-form-content] {
  margin-top: 1.5rem;
}
.section-customer-addresses hr {
  margin: 1.5rem 0;
}
@media (min-width: 768px) {
  .section-customer-addresses hr {
    margin: 2.5rem 0;
  }
}
.section-customer-addresses .form-heading {
  margin-bottom: 1.5rem;
}