.section-image-grid {
  position: relative;
  margin-bottom: 4rem;
}
.section-image-grid .container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}
.section-image-grid .container .wrapper .content {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .section-image-grid .container .wrapper .content {
    max-width: 44rem;
  }
}
.section-image-grid .container .wrapper .content h2 {
  margin-bottom: 2rem;
}
.section-image-grid .container .wrapper .content p {
  max-width: none;
  margin-bottom: 0;
}
.section-image-grid .container .wrapper .image-grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 576px) {
  .section-image-grid .container .wrapper .image-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .section-image-grid .container .wrapper .image-grid {
    max-width: 66.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.section-image-grid .container .wrapper .image-grid img {
  aspect-ratio: 1/1;
  object-fit: cover;
}