.section-featured-collections .swiper-container {
  position: relative;
}
@media (max-width: 1279.98px) {
  .section-featured-collections .swiper-container {
    padding-bottom: 4rem;
  }
}
.section-featured-collections .swiper-container .swiper-wrapper {
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
}
@media (min-width: 1280px) {
  .section-featured-collections .swiper-container .swiper-wrapper {
    display: grid;
    gap: 1rem;
    overflow: visible;
    grid-auto-columns: minmax(0, 20rem);
    grid-auto-flow: column;
  }
}
.section-featured-collections .swiper-slide {
  height: auto;
  width: auto;
}
.section-featured-collections .snippet-category-item {
  width: 16.25rem;
}
@media (min-width: 768px) {
  .section-featured-collections .snippet-category-item {
    width: 21.25rem;
  }
}
@media (min-width: 1280px) {
  .section-featured-collections .snippet-category-item {
    width: 100%;
  }
}
.section-featured-collections .swiper-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 1.5rem;
}
@media (min-width: 1280px) {
  .section-featured-collections .swiper-nav {
    display: none;
  }
}