.section-club-inspire-hero {
  background-color: var(--colour-carnation);
  color: var(--colour-sugar-cane);
  position: relative;
}
.section-club-inspire-hero .container {
  position: relative;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .container {
    display: grid;
    grid-template-columns: 52% 1fr;
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .container {
    grid-template-columns: minmax(32rem, 1fr) 1fr;
    gap: 4rem;
  }
}
.section-club-inspire-hero .container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 32rem;
  width: 32rem;
  transform: translate(0, -3rem);
  z-index: 1;
  opacity: 0.08;
  background-image: url("data:image/svg+xml,%3Csvg width='457' height='448' viewBox='0 0 457 448' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0146598 223.956C1.40989 345.015 100.131 442.71 221.701 442.71C274.006 442.71 322.049 424.603 359.952 394.338C370.044 386.285 384.73 396.151 381.04 408.513C377.721 419.627 373.513 430.536 368.4 441.134C366.181 445.711 371.778 450.123 375.717 446.89C382.36 441.419 388.761 435.491 394.849 429.132C457.918 363.245 469.863 264.425 444.708 178.419C436.61 150.742 424.665 124.367 409.342 100.869C387.403 67.2049 355.933 38.9849 319.511 21.8241C290.185 8.00974 257.983 0.559676 225.569 0.0322774C224.373 0.0109749 223.167 8.92915e-07 221.971 8.92915e-07C99.3815 -0.0109731 -1.39738 101.133 0.0146598 223.956Z' fill='%23FDFFFC'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .container::before {
    height: 28rem;
    width: 28rem;
    transform: translate(4.5rem, -3rem);
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .container::before {
    height: 26rem;
    width: 26rem;
    transform: translate(-6.5rem, 2rem);
  }
}
.section-club-inspire-hero .content {
  padding: 3.5rem 0;
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .section-club-inspire-hero .content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section-club-inspire-hero .content {
    padding: 3.5rem 1rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .content {
    padding: 5rem 0 5rem 5rem;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .content {
    padding-left: 9.5rem;
  }
}
.section-club-inspire-hero .content .actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 767.98px) {
  .section-club-inspire-hero .content .actions {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .content .actions {
    padding-top: 1rem;
  }
}
.section-club-inspire-hero .content .actions .alt {
  font-size: 1rem;
  font-weight: 500;
}
.section-club-inspire-hero .image {
  position: relative;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .image {
    display: flex;
    align-items: flex-end;
    padding-top: 4rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image {
    padding-top: 2rem;
  }
}
.section-club-inspire-hero .image picture {
  display: block;
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image picture {
    margin-left: 12%;
  }
}
.section-club-inspire-hero .image img {
  position: relative;
  z-index: 5;
  height: 22rem;
  width: 100%;
  object-fit: contain;
  object-position: center bottom;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .image img {
    height: 26rem;
  }
}
@media (min-width: 1024px) {
  .section-club-inspire-hero .image img {
    height: 28rem;
  }
}
.section-club-inspire-hero .cta-block {
  background-color: var(--colour-carnation);
  border: 1px dashed var(--colour-sugar-cane);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75rem 1rem;
  position: absolute;
  z-index: 10;
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block {
    background-color: rgba(255, 255, 255, 0.08);
  }
}
.section-club-inspire-hero .cta-block p {
  margin: 0;
  max-width: 14ch;
}
.section-club-inspire-hero .cta-block p, .section-club-inspire-hero .cta-block p strong {
  font-weight: 600;
}
.section-club-inspire-hero .cta-block strong {
  color: var(--colour-emperor);
}
.section-club-inspire-hero .cta-block.one {
  top: 0;
  left: 0;
  transform: translateY(-3rem);
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.one {
    transform: none;
    top: 2rem;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block.one {
    top: 3.5rem;
    left: auto;
    right: 4rem;
    transform: translateX(-4rem);
  }
}
.section-club-inspire-hero .cta-block.two {
  top: 3rem;
  right: 1rem;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.two {
    top: 24%;
    right: 0;
  }
}
@media (min-width: 1280px) {
  .section-club-inspire-hero .cta-block.two {
    top: 40%;
    right: 2rem;
  }
}
.section-club-inspire-hero .cta-block.two p {
  max-width: 8ch;
}
@media (min-width: 768px) {
  .section-club-inspire-hero .cta-block.two p {
    max-width: 12ch;
  }
}