#shopify-section-comms-bar {
  position: relative;
}

.section-comms-bar {
  background-color: var(--colour-royal-purple);
  color: var(--colour-sugar-cane);
}
@media (min-width: 1024px) {
  .section-comms-bar {
    position: relative;
    z-index: 110;
  }
}
.section-comms-bar .container {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .section-comms-bar .container {
    height: 2.5rem;
    align-items: center;
    justify-content: space-between;
  }
}
.section-comms-bar .message {
  margin: 0;
}
@media (max-width: 767.98px) {
  .section-comms-bar .message {
    padding: 0.5rem 1rem 0.5rem 0;
    flex: 1;
  }
}
@media (min-width: 768px) {
  .section-comms-bar .message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.section-comms-bar .message small {
  display: block;
}
.section-comms-bar a {
  color: inherit;
}
.section-comms-bar ol {
  display: none;
  list-style: none;
  margin: 0 1.5rem 0 0;
  padding: 0;
}
@media (min-width: 768px) {
  .section-comms-bar ol {
    display: inline-flex;
    gap: 1.5rem;
    margin-left: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-comms-bar ol li:not(:last-child) {
    display: none;
  }
}
.section-comms-bar ol li:first-child a {
  display: inline-block;
}
.section-comms-bar ol li,
.section-comms-bar ol li a {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}
.section-comms-bar ol li:hover a, .section-comms-bar ol li:focus a {
  text-decoration: underline;
}
.section-comms-bar .country-list-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--colour-white);
}
.section-comms-bar .country-list-toggle:focus {
  background-color: rgba(0, 0, 0, 0.4);
  outline: 0;
}
.section-comms-bar .country-list-toggle svg {
  height: 0.675rem;
  width: 0.675rem;
  fill: currentColor;
}
.section-comms-bar .country-list-toggle img {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 100%;
  object-fit: cover;
}