.section-featured-articles .swiper-container {
  position: relative;
}
@media (max-width: 1023.98px) {
  .section-featured-articles .swiper-container {
    padding-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .section-featured-articles .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
.section-featured-articles .swiper-slide {
  height: auto;
}
.section-featured-articles .swiper-nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 1024px) {
  .section-featured-articles .swiper-nav {
    display: none;
  }
}