.section-shop-the-show-header .wrapper {
  padding: 3rem 0 4rem 0;
  position: relative;
  z-index: 1;
  color: var(--colour-sugar-cane);
  overflow: hidden;
  z-index: 40;
}
@media (min-width: 768px) {
  .section-shop-the-show-header .wrapper {
    padding: 4.5rem 0 7rem 0;
  }
}
.section-shop-the-show-header .wrapper:before {
  content: "";
  background: radial-gradient(circle, #90489c 0%, #4b3ab0 100%);
  position: absolute;
  inset: 0;
  height: calc(100% - 1px);
  width: 100%;
  z-index: 1;
}
.section-shop-the-show-header .wrapper::after {
  content: "";
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 456 618' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M17.425,276.477C-4.861,292.432 -4.86,325.568 17.425,341.524L392.553,610.1C419.023,629.052 455.838,610.132 455.838,577.577L455.838,40.423C455.838,7.868 419.023,-11.052 392.553,7.9L17.425,276.477Z' style='fill:rgb(31,19,0);fill-opacity:0.1;fill-rule:nonzero;'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top 4% right -24vw;
  z-index: 5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
@media (min-width: 768px) {
  .section-shop-the-show-header .wrapper::after {
    background-image: url("data:image/svg+xml,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 1087 1522' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.714 728.189c-22.285 15.956-22.285 49.091 0 65.047l1006.536 720.644c26.47 18.95 63.29.03 63.29-32.53v-1441.279c0-32.555-36.82-51.476-63.29-32.524z' fill='%231f1300' fill-opacity='.1' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-position: top -20rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .wrapper::after {
    background-position: top -28rem right -24vw;
  }
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .wrapper::after {
    background-position: top -40rem right -32vw;
  }
}
@media (min-width: 1280px) {
  .section-shop-the-show-header .wrapper::after {
    background-position: top -44rem right -36vw;
  }
}
@media (min-width: 1600px) {
  .section-shop-the-show-header .wrapper::after {
    background-position: top -52rem right -40vw;
  }
}
.section-shop-the-show-header .container {
  position: relative;
  z-index: 10;
}
.section-shop-the-show-header .inner-wrapper {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "content" "video";
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-shop-the-show-header .inner-wrapper {
    max-width: var(--content-tablet-width);
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .inner-wrapper {
    gap: 3rem;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "content video";
    padding: 0 var(--content-offset);
    align-items: center;
  }
}
.section-shop-the-show-header .inner-wrapper .content {
  grid-area: content;
}
.section-shop-the-show-header .inner-wrapper .content .std {
  margin-top: 1rem;
  border: 1px solid var(--colour-white);
  color: var(--colour-white);
}
.section-shop-the-show-header .inner-wrapper .snippet-crafters-tv-heading {
  margin: 0;
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .inner-wrapper .snippet-crafters-tv-heading {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .inner-wrapper .snippet-crafters-tv-heading * {
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}
.section-shop-the-show-header .inner-wrapper .snippet-crafters-tv-heading time {
  margin-bottom: 2rem;
  display: flex;
  font-weight: 600;
}
.section-shop-the-show-header .inner-wrapper .video-wrapper {
  grid-area: video;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.section-shop-the-show-header .inner-wrapper .video-wrapper,
.section-shop-the-show-header .inner-wrapper .video-wrapper > div {
  aspect-ratio: 16/9;
}
.section-shop-the-show-header .inner-wrapper .video-wrapper iframe {
  width: 100%;
  height: 100%;
}
.section-shop-the-show-header .pip-close-button {
  position: absolute;
  z-index: 50;
  left: 1rem;
  top: 1rem;
  opacity: 0;
  pointer-events: none;
}
@media (min-width: 1024px) {
  .section-shop-the-show-header .pip-active {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 350px;
  }
  .section-shop-the-show-header .pip-active .pip-close-button {
    opacity: 1;
    pointer-events: all;
  }
}