.section-customer-account {
  min-height: 50vh;
}
@supports (height: 100dvh) {
  .section-customer-account {
    min-height: 50dvh;
  }
}
.section-customer-account .content .loyalty a, .section-customer-account .content .loyalty button, .section-customer-account .content .wishlist a, .section-customer-account .content .wishlist button {
  text-decoration: none;
}
.section-customer-account .content .loyalty a span, .section-customer-account .content .loyalty button span, .section-customer-account .content .wishlist a span, .section-customer-account .content .wishlist button span {
  text-decoration: underline;
  font-weight: 500;
}
.section-customer-account .loyalty .links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 767.98px) {
  .section-customer-account .loyalty .links {
    flex-direction: column;
  }
}
.section-customer-account .loyalty .links li {
  position: relative;
}
@media (min-width: 768px) {
  .section-customer-account .loyalty .links li:not(:first-child) {
    padding-left: 1.5rem;
  }
  .section-customer-account .loyalty .links li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 24px;
    width: 1px;
    background-color: var(--colour-whisper);
  }
}
.section-customer-account .orders table th, .section-customer-account .orders table td {
  text-transform: capitalize;
}
.section-customer-account .orders .snippet-pagination {
  margin-top: 1.5rem;
}
.section-customer-account .blocks {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(11.5rem, 1fr);
  gap: 1rem;
  overflow-x: auto;
  max-width: 100%;
}
.section-customer-account .blocks::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.section-customer-account .blocks::-webkit-scrollbar-thumb {
  background: var(--colour-royal-purple);
  border: 8px solid var(--colour-royal-purple);
  border-radius: 0;
}
.section-customer-account .blocks::-webkit-scrollbar-track {
  background: var(--colour-sugar-cane);
}
@media (max-width: 767.98px) {
  .section-customer-account .blocks {
    padding-right: var(--gutter);
  }
}
.section-customer-account .blocks li {
  background-color: var(--colour-white);
  border: 1px solid var(--colour-emperor);
  border-radius: var(--border-radius-lg);
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
.section-customer-account .blocks li svg {
  height: 2rem;
  width: 2rem;
}
.section-customer-account .blocks li dl dt {
  margin-bottom: 0.5rem;
}
.section-customer-account .blocks li dl dd {
  font-size: 2rem;
  font-weight: 600;
  color: var(--colour-royal-purple);
}
.section-customer-account .loyalty-history-pullout {
  --loyalty-history-padding: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: calc(100vh - 2rem);
  width: 100%;
  max-width: calc(100vw - 2rem);
  background-color: var(--colour-white);
  z-index: 10100;
  transform: translateX(110%);
  transition: transform var(--transition-duration) var(--transition-timing);
  overflow: hidden;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-white);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  padding: var(--loyalty-history-padding) 0 0;
  transition-delay: 0s;
}
@supports (height: 100dvh) {
  .section-customer-account .loyalty-history-pullout {
    height: calc(100dvh - 2rem);
  }
}
@media (min-width: 768px) {
  .section-customer-account .loyalty-history-pullout {
    max-width: 80vw;
  }
}
@media (min-width: 1024px) {
  .section-customer-account .loyalty-history-pullout {
    --loyalty-history-padding: 2rem;
    max-width: 45rem;
  }
}
.section-customer-account .loyalty-history-pullout.is-active {
  transform: none;
  transition-delay: var(--transition-duration);
}
.section-customer-account .loyalty-history-pullout .close {
  width: 1rem;
  margin: 0 var(--loyalty-history-padding) 1rem auto;
}
.section-customer-account .loyalty-history-pullout .wrapper {
  padding: var(--loyalty-history-padding);
  padding-top: 0;
}

.quick-cart-overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  transition-delay: var(--transition-duration);
  z-index: 9999;
}
.quick-cart-overlay.is-active {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}