.snippet-territory-switcher {
  position: absolute;
  top: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  opacity: 0;
  visibility: hidden;
  z-index: 150;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-territory-switcher.is-visible {
  opacity: 1;
  visibility: visible;
}
.snippet-territory-switcher .container {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.snippet-territory-switcher ol {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-white);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  padding: 0.25rem;
  display: grid;
}
.snippet-territory-switcher ol li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--colour-emperor);
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-sugar-cane);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  min-width: 6rem;
}
.snippet-territory-switcher ol li a span {
  text-transform: uppercase;
}
.snippet-territory-switcher ol li a img {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  object-fit: cover;
}
.snippet-territory-switcher ol li:hover a, .snippet-territory-switcher ol li:focus a {
  background-color: var(--colour-whisper);
}