.snippet-text-and-image {
  --image-width: 48%;
}
@media (min-width: 1280px) {
  .snippet-text-and-image {
    --image-width: 56%;
  }
}
.snippet-text-and-image .container {
  display: grid;
  gap: 3rem;
  grid-template-areas: "image" "content";
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .snippet-text-and-image .container {
    max-width: var(--content-tablet-width);
  }
}
@media (min-width: 1024px) {
  .snippet-text-and-image .container {
    grid-template-columns: var(--grid-columns);
    grid-template-areas: var(--layout-direction);
    align-items: center;
    gap: 3rem;
  }
  .snippet-text-and-image .container.vertical-start {
    align-items: start;
  }
  .snippet-text-and-image .container.vertical-end {
    align-items: end;
  }
}
@media (min-width: 1280px) {
  .snippet-text-and-image .container {
    gap: 6rem;
    padding: 0 var(--content-offset);
  }
}
.snippet-text-and-image .container > .image {
  grid-area: image;
  position: relative;
}
.snippet-text-and-image .container > .image.u-dots::before {
  bottom: 0;
  left: 0;
  transform: translate(-16px, 16px);
}
@media (min-width: 1024px) {
  .snippet-text-and-image .container > .image.u-dots::before {
    transform: translate(-36px, 12px);
  }
}
.snippet-text-and-image .container > .image.u-dots::after {
  top: 0;
  right: 0;
  transform: translate(-16px, -22px);
}
@media (min-width: 1024px) {
  .snippet-text-and-image .container > .image.u-dots::after {
    top: 0;
    transform: translate(-100%, -24px);
  }
}
.snippet-text-and-image .container > .image img:not(.bg-shape) {
  height: auto;
  width: 100%;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  object-fit: var(--image-fit);
  aspect-ratio: 5/4;
  position: relative;
  z-index: 5;
}
.snippet-text-and-image .container > .image img.bg-shape {
  --shape-offset: 1rem;
  --shape-width: calc(var(--shape-offset) * 2);
  height: calc(100% + var(--shape-width));
  width: calc(100% + var(--shape-width));
  max-width: none;
  position: absolute;
  inset: calc(var(--shape-offset) * -1);
  object-fit: contain;
  object-position: var(--shape-position);
  z-index: 1;
}
@media (min-width: 768px) {
  .snippet-text-and-image .container > .image img.bg-shape {
    --shape-offset: 2rem;
  }
}
.snippet-text-and-image .content {
  grid-area: content;
}
@media (max-width: 1023.98px) {
  .snippet-text-and-image .content {
    text-align: var(--text-alignment);
  }
  .snippet-text-and-image .content h2, .snippet-text-and-image .content p {
    margin-left: var(--text-margin);
    margin-right: var(--text-margin);
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .snippet-text-and-image .content .c-check-list {
    grid-template-columns: 1fr 1fr;
  }
}
.snippet-text-and-image .content > * {
  max-width: 32rem;
}