.snippet-ctv-navigation {
  --link-bg-colour: rgba(255, 255, 255, 0.12);
  background-color: var(--colour-royal-purple);
  border-bottom: 1px solid var(--colour-sugar-cane);
  position: relative;
}
@media (min-height: 768px) {
  .snippet-ctv-navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    z-index: 100;
  }
}
@media (min-width: 769px) and (min-height: 768px) {
  .snippet-ctv-navigation {
    top: 90px;
  }
}
@media (min-width: 1024px) and (min-height: 768px) {
  .snippet-ctv-navigation {
    top: 152px;
  }
}
.snippet-ctv-navigation > .container {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.snippet-ctv-navigation .logo {
  flex-grow: 2;
}
.snippet-ctv-navigation .logo a {
  display: block;
}
.snippet-ctv-navigation .logo svg {
  height: 2.5rem;
  max-width: 8rem;
}
.snippet-ctv-navigation .ctv-nav-open {
  color: var(--colour-sugar-cane);
  position: relative;
  padding-right: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 1024px) {
  .snippet-ctv-navigation .ctv-nav-open {
    display: none;
  }
}
.snippet-ctv-navigation .ctv-nav-open svg {
  height: 0.875rem;
  width: 0.875rem;
  fill: currentColor;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(0);
  transform-origin: center center;
  opacity: 1;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-ctv-navigation .ctv-nav-open.is-active svg {
  transform: translateY(-50%) rotate(180deg);
}
.snippet-ctv-navigation .nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.snippet-ctv-navigation .nav > a.watch-live {
  background-color: var(--colour-white);
  color: var(--colour-emperor);
  border-radius: 1.5rem;
  padding: 0.75rem 1.25rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .snippet-ctv-navigation .nav > a.watch-live {
    margin-right: 2rem;
    font-size: var(--font-size-base);
  }
}
.snippet-ctv-navigation .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 1023.98px) {
  .snippet-ctv-navigation .nav ul {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    left: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    z-index: 1000000;
    background-color: var(--colour-royal-purple);
    transition: all var(--transition-duration) var(--transition-timing) 0s;
    transform: translateY(1rem);
    border-bottom: 1px solid var(--colour-sugar-cane);
    opacity: 0;
    visibility: hidden;
    padding: 1.5rem 1rem;
  }
  .snippet-ctv-navigation .nav ul.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(1px);
  }
}
@media (min-width: 1024px) {
  .snippet-ctv-navigation .nav ul {
    gap: 2rem;
  }
}
.snippet-ctv-navigation .nav ul li a {
  color: var(--colour-sugar-cane);
  font-size: 1rem;
  font-weight: 500;
  display: block;
  text-decoration: none;
}
@media (min-width: 1024px) {
  .snippet-ctv-navigation .nav ul li a {
    font-size: var(--font-size-base);
    background: transparent;
    transition: all var(--transition-duration) var(--transition-timing) 0s;
  }
}
.snippet-ctv-navigation .nav ul li.current a {
  border-radius: 1.5rem;
  padding: 0.5rem 1.25rem;
  background-color: var(--link-bg-colour);
}