.snippet-content-block-item {
  position: relative;
  height: 100%;
  background-color: var(--colour-white);
  border: 1px solid var(--colour-emperor);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: none;
  transition: box-shadow var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-content-block-item:hover, .snippet-content-block-item:focus {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
}
.snippet-content-block-item .image img, .snippet-content-block-item .image svg {
  height: auto;
  width: 100%;
  aspect-ratio: 5/4;
  object-fit: cover;
}
.snippet-content-block-item .block-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 1.5rem 1.5rem;
  flex-grow: 1;
}
.snippet-content-block-item .block-content * {
  margin: 0;
}
.snippet-content-block-item .block-content .description {
  flex-grow: 2;
}
@media (max-width: 1023.98px) {
  .snippet-content-block-item .block-content .description {
    max-height: 4.5rem;
    overflow: hidden;
  }
}
.snippet-content-block-item .block-content .c-btn {
  width: -webkit-max-content;
  width: max-content;
}
.snippet-content-block-item .description strong {
  font-weight: 600;
  color: var(--colour-carnation);
}
.snippet-content-block-item a.heading {
  text-decoration: none;
  color: var(--colour-text-base);
}