@media (max-width: 767.98px) {
  .snippet-product-media {
    margin-bottom: 1.5rem;
  }
}
.snippet-product-media .feature {
  margin-bottom: 1rem;
}
.snippet-product-media .feature picture,
.snippet-product-media .feature img {
  width: 100%;
}
.snippet-product-media .thumbnails img {
  border: 1px solid var(--colour-bg);
}
.snippet-product-media .swiper-button-prev,
.snippet-product-media .swiper-button-next {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colour-bg);
  color: var(--colour-text-base);
  z-index: 5;
}
.snippet-product-media .swiper-button-prev:focus,
.snippet-product-media .swiper-button-next:focus {
  outline: none;
}
.snippet-product-media .swiper-button-prev:hover,
.snippet-product-media .swiper-button-next:hover {
  text-decoration: none;
  outline: none;
}
.snippet-product-media .swiper-button-prev:disabled,
.snippet-product-media .swiper-button-next:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.snippet-product-media .swiper-button-prev svg,
.snippet-product-media .swiper-button-next svg {
  height: 0.875rem;
  width: 0.875rem;
  fill: currentColor;
}
@media (max-width: 1023.98px) {
  .snippet-product-media .swiper-button-prev,
.snippet-product-media .swiper-button-next {
    display: none;
  }
}
.snippet-product-media .swiper-button-prev {
  left: 1rem;
}
.snippet-product-media .swiper-button-next {
  right: 1rem;
}